As we dropped all outer structure definitions, nonce processing, "key duty", and endorsement of the bell are out-of-scope of this document. But it may make sense to touch on these topics in appendices?

1.) Maybe an appendix, including, for example, geolocation for latency, tamper-resistance, and clock quality (resolution, precision, and accuracy). But this is out-of scope of the doc.

2.) Minimal key material guidance. E.g. one pair for signing an outer epoch marker structure, one for endorsing the bell (like a TPM EK).



Hi @carl-wallace - how does the above sound as a resolution?

I don't follow what "dropped all outer structure definitions" means. It may be easier to just review this in context. Is there an editor's copy link with the changes?

By outer structure, I think Henk meant the enclosing CBOR array, and other metadata that might be contained within. You can compare the sections on Epoch Marker structure from versions [-00](https://datatracker.ietf.org/doc/html/draft-ietf-rats-epoch-markers-00#name-epoch-marker-structure) and [-03](https://datatracker.ietf.org/doc/html/draft-ietf-rats-epoch-markers-03#name-epoch-marker-structure) for that. Editor's copy for the same chapter is [here](https://ietf-rats-wg.github.io/draft-ietf-rats-epoch-marker/draft-ietf-rats-epoch-markers.html#name-epoch-marker-structure)

The "new" text in that section also explicitly states:

> The specification of such "outer" structures and protocols and the means how to secure them is beyond the scope of this document.

Thanks. I still think some processing rules along the lines of the following would be helpful: When processing a classical-rfc3161-TST-info, the verifier MUST affirm the digest contained in the MessageImprint is the SHA256 digest the string "EPOCH_BELL". It's implied but making processing rules explicit would be helpful.

Now that I re-read this, why does the epoch bell even bother getting a timestamp from a TSA? It can just make its own TSTInfo, since the TSA signature is stripped. This point gets at one of the other processing rules I noted. How is the epoch bell authorized? See [section 2.3 of RFC3161](https://datatracker.ietf.org/doc/html/rfc3161#section-2.3) for a TSA-related example.

Hi @carl-wallace: sorry for turning such an open question back to you just for the sake of streaming progress: How would you expect an Epoch bell to be "authorized"?

Going by example, the bell has at least two duties. Rendering Epoch Markers authentic and demonstrating its own authenticity to other parties. To me that would imply at least two key pairs with separate duties: one for signing the output of the epoch bell and one for vouching for the epoch bell (that latter is obviously an endorsement). Does that sound useful so far? I am looking forward to read your expectations. 

I gave an example. A TSA is authorized by a specific extended key usage value. Where a timestamp is obtained from a TSA, one approach would be to not strip the signature. This is potentially related to my comments on CoSERV re: authorizing distribution of trust anchors. I have a task from that discussion to review how constraints flow from the long expired cots draft (or whatever a successor may be). That review may yield something useful here. I'll get back to you though your thoughts on that would be most helpful too. 

But an Epoch Bell might not be endorsed by an archaic identity document that is using a rather esoteric laden EKU (maybe there is some hyperbole here... 😅 , let's say there is no PKIX in this scenario). What do?

The authorization question will need some research/thinking. Given this is not aiming to use "an archaic identity document that is using a rather esoteric laden EKU", why bother with RFC3161 only to throw away the signature? Ditching 3161 does not obviate the authorization question but it may make this cleaner.

Yes, "why bother" is a good question.

And I think there is a good answers for it. Of course it would be easiest to work with a state-of-the-art cbor-time tag based TST and not deal with any of the 3161 legacy structures. But that seems unrealistic today.

That is also why RFC9921 exists. Code & stack wise that makes not much sense. But there are currently only 3161 TSA out there and there has to be a migration path. So, we offer the tag 26980 similar to RFC9921 and we also offer tag 26981 as a compromise for migration in order to connect these continuums.

And then we of course have cbor-time = cbor-time = tdate / time / etime which [Figure 5](https://www.ietf.org/archive/id/draft-ietf-rats-epoch-markers-03.html#figure-5) elaborates on how a modern TST could look like.

Effectively, this is only context. We could mandate the same PKIX cert as is required for a RFC 3161 TSA, if the Epoch Bell is providing 26980 and 26981. Would that be a step in the right direction?

Possibly but I think we need to look at whether authorizations could be defined in a concrete way, i.e., maybe on CBOR tags, instead of abstractly like EKU. There was a mechanism (that never caught on) defined ~20 years ago that authorized signers using OIDs that would appear in a CMS message. Something like that may be useful here.

Defining authorization semantics for keys expressed via CBOR tags is out-of-scope of this document. It is its own entire thing. What we can do is to acknowledge that requirement in the Security Considerations (implying that, as an intermediate approach, historic X.509 certificates can endorse an Epoch Bell).